{% extends 'bundlePPEMission2BootstrapBundle:Default:base.html.twig' %}
{% block corps %}

<div id="formulaireMedecin"/>
<h2>Formulaire d'inscription</h2>
<form action="" method="post">
{{form_widget(form)}}

</form>

</div>

{% endblock %}
