{% extends 'bundlePPEMission2BootstrapBundle:Default:base.html.twig' %}
{% block corps %}
<h1><u> Modification service </u></h1>
<div id="formulaireMedecin"/>
<form action="" method="post">
{{form_widget(form)}}
<input type="submit" value="Modifier le service"/>
</form>
</div>

{% endblock %}



