{% extends 'bundlePPEMission2BootstrapBundle:Default:base.html.twig' %}
{% block corps %}
<h1> Personnel </h1>
<p id="categorie"> Médecins : </p>
<div class="col-md-6" id="tableauMedecin">
<table class="table table-bordered">
{% for medecin in lesMedecins %}

<tr class="warning">
	<td> {{ medecin.getNom() }} </td>
	<td> {{ medecin.getPrenom() }} </td>
	<td> {{ medecin.getTelephone() }} </td>
	<td><a href="{{path('bundle_ppe_mission2_bootstrap_modifMedecin',{id:medecin.getId()})}}"> Modifier </a> </td>
</tr>
{% endfor %}
</table>
</div>


<p id="petit"><u> Vous souhaitez postuler ? Par ici </u></p>
<div id="btnPostuler">
<input type="button" class="btn btn-success" value="Postuler"/>
</div>
{% endblock %}
